/* You can add global styles to this file, and also import other style files */
body {
    background-color: burlywood;
    font-family: sans-serif;
    
}


/*Vanilla CSS*/
.button {
    font : inherit;
    border : 1px solid blueviolet;
    background-color: blueviolet;
    color: whitesmoke;
    padding: 2px 10px;
}

.button:active,
.button:hover{
    background: purple;
}

.button:focus{
    outline:none;
}